trafilatura
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#sha256=14a2f31bc476af87019819ea8c9948fabdfd473a442edd6b1cba62bf0c2c0f55
huggingface-hub
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langsmith
numpy
openai
pandas
psycopg2
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
requests
spacy
SQLAlchemy
tiktoken
tokenizers
torch
tqdm
transformers
urllib3
flask
flask_socketio
langfuse
together 
sentence-transformers
uvicorn
fastapi
psycopg2-binary